.badge-container{
    display: flex;
    position: relative;
}
.badge {
    background-color: var(--gray);
    border: 2px solid var(--white);
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
 .badge-container .avatar-xl ~ .badge-status {
    height: 1rem;
    width: 1rem;
    margin-left: 8.8rem;
    margin-top: 8.1rem;
}

.badge-container .avatar-lg ~ .badge-status{
    margin-left: 7rem;
    margin-top: 6.8rem;
    height: .8rem;
    width: .8rem;
}
.badge-container .avatar-md ~ .badge-status{
    margin-left: 5.5rem;
    margin-top: 5.12rem;
    height: 0.6rem;
    width: 0.6rem;
}
.badge-container .avatar-sm ~ .badge-status{
    margin-left: 3.8rem;
    margin-top: 3.5rem;
    height: .5rem;
    width: .5rem;
}
.badge-container .avatar-xsm ~ .badge-status{
    margin-left: 2rem;
    margin-top: 1.9rem;
    height: .4rem;
    width: .4rem;
}

.icon-badge {
    color: var(--text-color);
    margin-left: 2rem;
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.3rem .5rem .3rem .45rem;
    line-height: 1rem;
    width: 1.7rem;
}
.mr-icon {
    margin: 1rem;
}
.text-badge {
    border-radius: 5px;
    padding: .15rem;
    margin-left: 2rem;
    color: var(--text-color);
    /* width: 3rem; */
    line-height: 1rem;
}