@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=M+PLUS+Rounded+1c&family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Open+Sans:wght@300&family=Source+Serif+4&display=swap');

/******* COMPONENTS *******/
@import "./alert.css";
@import "./avatar.css";
@import "./badge.css";
@import "./buttons.css";
@import "./card.css";
@import "./image.css";
@import "./input.css";
@import "./navbar.css";
@import "./reset.css";
@import "./rating.css";
@import "./snackbar.css";
@import "./typography.css";
@import "./utils.css";
@import "./variable.css";

body {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Serif 4', sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}