:root {
    --white : rgb(255,255,255,1);
    --gray : rgb(128,128,128,1);
}
.avatar-container {
    display: flex;
}
.items {
    margin: 2rem;
}
.avatar {
    margin: .5rem;
    border-radius: 50%;
}
.img-avatar {
    border-radius: 50%;
}
.avatar-xl {
    width: 10rem;
    height: 10rem;
}
.avatar-lg {
    width: 8rem;
    height: 8rem;
}
.avatar-md {
    width: 6rem;
    height: 6rem;
}
.avatar-sm {
    width: 4rem;
    height: 4rem;
}
.avatar-xsm {
    width: 2rem;
    height: 2rem;
}
.responsive-img {
    width: 100%;
    height: auto;
}