.btn {
    outline: none;
    border: none;
    padding: .5rem;
    border-radius: 5px;
    margin: .2rem ;
    border: 1px solid transparent;
}
.btn-floating {
    border-radius: var(--border-round);
    padding: 0.7rem;
}

.btn-link {
    text-decoration: none;
}
.btn-primary {
    background-color: var(--primary-blue);
    color: var(--text-color);
}
.btn-secondary {
   background-color: var(--paleblue);
   color: var(--text-color);
}
.btn-primary-outline {
    background-color: transparent;
    color: var(--primary-blue);
    border-color: var(--primary-blue);
}
.btn-secondary-outline {
    background-color: transparent;
    color: var(--primary-blue);
    border-color: var(--paleblue);
}
.btn-link-outline {
    background-color: transparent;
    color: var(--primary-blue);
    border-color: var(--paleblue);
}
.btn-lg {
    font-size: 1.2rem;
    line-height: 1rem;
    font-weight: 400;
}
.btn-icon {
    vertical-align: sub;
    font-size: 18px;
}
.btn-sm {
    font-size: .75rem;
    line-height: 0.5rem;
    font-weight: 400;
}
hr {
    border: 1px solid transparent;
}
.btn:hover, .btn-icon:hover {
    cursor: pointer;
}
.btn-primary-outline:hover ,
.btn-secondary-outline:hover,
.btn-link-outline:hover {
    background-color: var(--primary-blue);
    color: var(--text-color);
}
.btn-primary:hover {
    background-color: var(--text-color);
    color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
}
.btn-secondary:hover {
    background-color: var(--text-color);
    color: var(--paleblue);
    border: 1px solid var(--paleblue);
}