@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=M+PLUS+Rounded+1c&family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Roboto+Slab&display=swap');

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

/***** ALERTS *****/
:root {
    --red-bg : rgb(243,46,46,0.33);
    --yellow-bg : rgb(241,241,178,0.68);
    --orange-bg : rgb(247, 184, 123,0.4);
    --green-bg : rgb(157,157,87,0.27);

    --red : rgb(197,41,33,1);
    --yellow : rgb(235,128,0,1);
    --orange : rgb(227, 130, 37,1);
    --green : rgb(155,155,88,1);

    --black : rgb(0, 0, 0);
}
.alert-container {
    display: flex;
    justify-content: center;
}
.alert {
    width: 25rem;
    margin: .5rem;
    padding: .5rem;
    border-radius: 5px;
    box-sizing: border-box;
}
.alert-success {
    background-color: var( --green-bg);
    color: var(--green);
}
.alert-info {
    background-color: var( --yellow-bg);
    color: var(--yellow);
}
.alert-warning {
    background-color: var( --orange-bg);
    color: var(--orange);
}
.alert-danger {
    background-color: var( --red-bg);
    color: var(--red);
}

/***** UTILS *****/
.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mar-rg-sm {
  margin-right: 0.3rem;
}
.icon:hover {
    color: var(--black);
    cursor: pointer;
}
/***** MEDIA QUERY *****/
@media only screen and (max-width: 400px) {
    .alert {   
        font-size: 16px;
        line-height: 24px;
        width: 20rem;
    }
}